body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  color: white;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


body{
  display: grid;
  grid-template-columns:1fr 25vw 73vw 1fr;
  grid-template-areas: ". header header ."
  ". nav main .";
  row-gap: 1.5rem;
  
}
nav{
  grid-area: nav;
}
main{
  grid-area: main;
}
header{
  grid-area: header;
}
.bookstore{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.8rem;
  margin-inline: 1rem;
  margin-bottom: 1.5rem;

}
.bookcard{
  text-align: center;
  display: grid;
  place-items: center;
  gap: 1rem;
  padding: 1.5rem;
  transition: transform 0.3s ease-in-out;
  box-shadow: 4px 4px rgba(255, 255, 255, 0.411);
  background-color: rgba(255, 255, 255, 0.135);
  backdrop-filter: blur(1rem);
}
.bookcard>div{
  font-size: x-large;
  font-weight: bold;
}
span{
  font-size: x-large;
  color: yellow;
}
.bookcard:hover{
  transform: perspective(20px) translateZ(1px);
}

header>h1{
  font-size: 55px;
  border-bottom: 0.5rem solid #0F2027;
}

.addButton{
  border: none;
  font-size: xx-large;
  font-weight: bold;
  border: 2px solid rgba(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.432);
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  transition: border 0.2s linear;
}
.addButton:hover{
  border: 5px solid white;
}



nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.errorMessage{
  margin-block: 1rem;
  color: red;

}

.bookForm{
  outline: none;
  border: none;
  padding-inline: 2rem;
  background: rgba(255, 255, 255, 0.135);
  backdrop-filter: blur(2rem);
}
form{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  font-size: xx-large;
}
input{
  outline: none;
  /*border: none;*/
  height: 1.5rem;
  font-size: medium; 
  
}
.seprate{
  display: flex;
  flex-direction: column;
}
dialog>h2{
  font-size: 2.5rem;
  
}

  
.pageinput::-webkit-outer-spin-button,
.pageinput::-webkit-inner-spin-button {
  -webkit-appearance: none;
   margin: 0;
   
   
}
.pageinput{
  background: transparent;
  border: none;
  width: 4ch;
  outline: none;
  color: white;
  font-size: x-large;
  font-weight: bold;
}

.deleteButton{
  background: rgb(237, 72, 72);
  color: white;
  border: none;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 1rem;
}
.completeButton{
  background: green;
  color: white;
  font-weight: bolder;
  border: none;
  padding-inline: 1.5rem;
  padding-block: 0.7rem;
  border-radius: 1rem;
}

/* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));